[Unit]
Description=Toggles LED when the EspressoBIN is/is not fully booted
Requires=multi-user.target
After=multi-user.target

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart espressobin-state-booted
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop espressobin-state-booted
ExecStart=/usr/share/espressobin-state/bin/update booted
ExecStop=/usr/share/espressobin-state/bin/update shuttingdown
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
