[Unit]
Description=Ethereum daemon
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart geth
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop geth
ExecStart=/usr/bin/geth --config /etc/geth/config --verbosity 2

[Install]
WantedBy=multi-user.target
