# As upstream, but with /usr/bin as the path
[Unit]
Description=ZeroTier One
After=network.target

[Service]
ExecStartPre=/usr/share/ubos-admin/bin/ubos-service-prestart zerotier-one
ExecStopPost=/usr/share/ubos-admin/bin/ubos-service-poststop zerotier-one
# ExecStart=/var/lib/zerotier-one/zerotier-one
ExecStart=/usr/bin/zerotier-one
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
